{% if ABOUT_ME %}
<div class="panel panel-primary">
    <div class="panel-heading">
        ~ About me ~
    </div>
    <div class="panel-body">
        {{ ABOUT_ME }}
    </div>
</div>
{% endif %}

{% if SOCIAL %}
<div class="panel panel-primary">
    <div class="panel-heading">
        ~ Follow me ~
    </div>
    <div class="panel-body">
    {% for name, link in SOCIAL %}
        <a href="{{ link }}"><img
            class= "social-icon" src="{{ SITEURL }}/theme/images/{{ name }}-icon.png"></img>
        </a>
    {% endfor %}
    </div>
</div>
{% endif %}

{% if TAG_CLOUD %}
<div class="panel panel-primary">
    <div class="panel-heading">
            ~ Tag cloud ~
    </div>
    <div class="panel-body">
        {% for tag in tag_cloud|sort(attribute='1') %}
            <a href="{{ SITEURL }}/{{ tag.0.url }}"><span class="label label-default">{{ tag.0 }}</span></a>
        {% endfor %} 
    </div>
</div>
{% endif %}

{% include 'includes/github.html' %}
{% include 'includes/twitter_timeline.html' %}
{% include 'includes/blogroll.html' %}